<nav class="navbar bg-dark  border-body">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/istockphoto-1283411603-612x612.jpg" alt="Logo" width="40" height="30" class="d-inline-block align-text-top">
            <span style="color: red;">PostBox</span>
        </a>
    

      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item d-flex">
            <a class="nav-link " style="margin-left: 350px; color: silver;"><strong>Home</strong></a>
            <a class="nav-link" style="color: silver; margin-left: 30px;">|</a>
            <a class="nav-link " style="color: silver; margin-left: 20px;"><strong>All Mail</strong></a>
            <a class="nav-link" style="color: silver; margin-left: 30px;">|</a>
            <a class="nav-link " style="color: silver; margin-left: 20px;"><strong>Important</strong></a>

          </li>
        
          
        </ul>
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <button *ngIf="islog" class="btn" routerLink="/myprofile"><span style="color: silver;">Profile</span></button>
          <button *ngIf="!(islog)" class="btn"><span style="color: silver;">Login</span></button>
        </form>
      <!-- </div> -->
    </div>
  </nav>