.body1{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .email-list {
    border: 1px solid #ddd;
    border-top: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .email-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  .email-item:hover {
    background-color: #f9f9f9;
  }
  .email-item:last-child {
    border-bottom: none;
  }
  .email-sender {
    font-weight: bold;
  }
  .email-subject {
    color: #666;
  }
  .email-body {
    color: #888;
    margin-top: 5px;
  }

  .fixed-button {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: #3a4e54;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    z-index: 999; 
}

