    <body>


        <div class="container">
            <h1 class="text-center" style="color: rgb(181, 176, 170);">Send Mail</h1>
            <form [formGroup]="mailform">
                <input type="text" name="to" placeholder="To" formControlName="to">
                <input type="text" name="subject" placeholder="Subject" formControlName="subject">
                <textarea name="message" rows="9" placeholder="Message" formControlName="message"></textarea>
                <input type="file" name="attachment" id="attachment" (change)="image($event)">
                <div class=" d-flex justify-content-between">
                    <a routerLink="" class="btn btn-danger" >Go back</a>
                    <button  (click)="send()">Send</button>
                    
                </div>
            </form>
        </div>
        
        </body>
